body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #BABD8D;
}

code {
  font-family: 'Space Grotesk', sans-serif;
}
