  .column {
    float: left;
    width: 33.33%;
    padding-left: 70px;
    padding-right: 70px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
